.header {
  &.header_sticky {
    position: fixed !important;
    top: 0;
    z-index: 99;
    width: 100%;
  }

  /* WORKAROUND for editor */
  &-1.lpt-container > div,
  &-1.lpt-container > div > a.logo,
  &-1.lpt-container > div > a.logo > div {
    height: 100%;
  }

  &-2.lpt-container {
    .logo {
      border-right: 1px solid;
    }

    .repeater a {
      transition: 0.3s;

      &:hover {
        color: var(--accent-color);
      }
    }
  }
}
