.partners {
  &-1 {

    hr {
      margin: 2rem auto;
    }

    .repeater {
      width: 100%;
      max-width: 950px;
      margin: 0 auto;
    }

    .repeater-item-wrapper:nth-of-type(5n + 1) {
      &:before {
        display: none;
      }

      .image-wrapper:before {
        display: none;
      }
    }

    .image-wrapper {
      position: relative;
      opacity: 0.6;
      transition: 0.3s;
      overflow: hidden;
      filter: grayscale(100%);   

      &:hover {
        opacity: 1;
        filter: none !important;   
      }

      &:before {
        content: '';
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        border-left: 1px dashed #ddd;
      }

      &:after {
        content: '';
        position: absolute;
        width: 100%;
        bottom: 0;
        left: -1px;
        border-bottom: 1px dashed #ddd;
      }
    }
  }
}
