@import 'normalize.css/normalize.css';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700&subset=cyrillic';
@import './src/fonts';
@import './src/layout';
@import './src/display';
@import './src/popup';

:root {
  /* basic defaults values here */
  --primary-color: #333;
  --secondary-color: #fff;
  --disabled-color: #bdbdbd;
  --accent-color: #3367d6;
  --danger-color: #c53929;

  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

::selection {
  color: white;
  background: var(--accent-color);
}

/*
  Global page styles

  [1] disable callout and tap highlight when you touch and hold a touch target on iPhone OS
  [2] Ensure the page always fills at least the entire height of the viewport.
  [3] Prevent iOS text size adjust after orientation change, without disabling user zoom
  [4] Fonts on OSX will look more consistent with other systems that do not
  render text using sub-pixel anti-aliasing.
*/
html,
body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* [1] */
  -webkit-touch-callout: none; /* [1] */

  min-height: 100%; /* [2] */

  -webkit-text-size-adjust: 100%; /* [3] */
  -ms-text-size-adjust: 100%; /* [3] */

  -webkit-font-smoothing: antialiased; /* [4] */
  -moz-osx-font-smoothing: grayscale; /* [4] */
}
