.opinion {
  &-1 {
    .lpt-title-3 {
      color: #fff;
    }

    .lpt-title-2 {
      color: #fff;
    }

    .author {
      color: #fff;

      .company {
        color: #ccc;
      }
    }
  }
}
