/*
Фоновые изображения

Вспомогательные классы для работы с фоновыми изображениями

.nz-bg-cover - background-size: cover
.nz-bg-contain - background-size: contain
.nz-bg-fixed - background-attachment: fixed

Styleguide: display.backgrounds
*/

.nz-bg-cover {
  background-size: cover;
}

.nz-bg-contain {
  background-size: contain;
}

.nz-bg-fixed {
  background-attachment: fixed;
}
