/*
Фоновые изображения

Вспомогательные классы для работы с фоновыми изображениями

.nz-bg-cover - background-size: cover
.nz-bg-contain - background-size: contain
.nz-bg-fixed - background-attachment: fixed
.nz-background-circle -

Styleguide: display.backgrounds
*/

.nz-bg-cover {
  background-size: cover;
}

.nz-bg-contain {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.nz-bg-fixed {
  background-attachment: fixed;
}

.nz-bg-right {
  background-repeat: no-repeat;
  background-position: 70% 100%;
}

.nz-background-circle {
  display: inline-block;
  border-radius: 50%;
  padding: 0.5em;
}

.nz-background-circle.large {
  padding: 1em;
}

.nz-background-circle.accent {
  background-color: var(--accent-color);
}
