/*
Блоки

nz-block используется в первую очередь для работы
с цветовой схемой. Является основой для конструктора блоков,
любой блок должен быть обернут в контейнер nz-block
* .nz-block.dark - темная тема оформления (белый текст и черный фон)
* .nz-block.gray - серая тема оформления (меняет фон на серый цвет)

.nz-block-wrapper - устанавливает фиксированную ширину и выравнивает по центру контейнер блока
.nz-block-wrapper.narrow -
.nz-block-wrapper.pillow - добавляет отступы
.nz-block-wrapper.semi-pillow - добавляет небольшие отступы
.nz-block-fullheight - 100% от высоты экрана
.nz-block-halfheight - 50% от высоты экрана
.nz-block-cover - светлый фон для контейнера
.nz-block-cover.gray - серый фон для контейнера
.nz-block-cover.dark - полупрозрачный черный фон для контейнера

Styleguide: display.blocks
*/

.nz-block.theme-dark {
  background-color: var(--background-dark-gray-color);
  --base-color: var(--white-color);
  --lead-color: var(--white-color);
  --small-paragraph-color: var(--text-gray-color);
  --caption-color: var(--text-gray-color);
}

.nz-block.theme-darker {
  background-color: var(--footer-color);
  --base-color: var(--white-color);
  --lead-color: var(--white-color);
  --small-paragraph-color: var(--text-gray-color);
  --caption-color: var(--text-gray-color);
}

.nz-block.theme-gray {
  background-color: var(--background-gray-color);
  --base-color: var(--dark-color);
  --lead-color: var(--text-dark-gray-color);
  --small-paragraph-color: var(--text-dark-gray-color);
  --caption-color: var(--text-gray-color);
}

.nz-block.theme-light {
  background-color: var(--white-color);
  --base-color: var(--dark-color);
  --lead-color: var(--text-dark-gray-color);
  --small-paragraph-color: var(--text-dark-gray-color);
  --caption-color: var(--text-gray-color);
}

.nz-block.theme-accent {
  background-color: var(--accent-color);
  --base-color: var(--white-color);
  --lead-color: var(--text-dark-gray-color);
  --small-paragraph-color: var(--text-dark-gray-color);
  --caption-color: var(--white-color);
}

.nz-block-wrapper {
  margin: 0 auto;
  max-width: 122em;
  padding: 1em 3em;
}

.nz-block-wrapper.narrow {
  max-width: 92em;
}

.nz-block-wrapper.pillow {
  padding: 8em 3em;
}

.nz-block-wrapper.semi-pillow {
  padding: 3em;
}

.nz-block-fullheight {
  min-height: calc(100vh - 8em);
}

.nz-block-halfheight {
  min-height: calc(50vh - 8em);
}

.nz-block-cover {
  background-color: var(--white-color);
  border: 1px solid var(--border-color);
  border-radius: 3px;
}

.nz-block-cover.dark {
  background-color: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
}

.nz-block-cover.gray {
  background-color: var(--background-gray-color);
}

.nz-fixed {
  position: fixed;
  z-index: 1;
  width: 100%; /* use for fullwith blocks! */
}
