/*
Блоки

nz-block используется в первую очередь для работы
с цветовой схемой. Является основой для конструктора блоков,
любой блок должен быть обернут в контейнер nz-block

.nz-block -
.nz-block.theme-dark -
.nz-block.theme-darker -
.nz-block.theme-gray -
.nz-block.theme-light -
.nz-block.theme-accent -
.nz-block-wrapper - устанавливает фиксированную ширину и выравнивает по центру контейнер блока
.nz-block-wrapper.narrow -
.nz-block-wrapper.pillow - добавляет отступы
.nz-block-wrapper.semi-pillow - добавляет небольшие отступы
.nz-block-fullheight - 100% от высоты экрана
.nz-block-halfheight - 50% от высоты экрана
.nz-block-cover - светлый фон для контейнера
.nz-block-cover.alt-border -
.nz-fit -
.nz-block-border-bottom -
.nz-fixed -
.nz-fit-cover

Styleguide: display.blocks
*/

.nz-block-cover {
  border: 1px solid #eee;
  border-radius: 3px;
}

.nz-block.theme-darker .nz-block-cover {
  background-color: rgba(3, 3, 3, 0.2);
}

.nz-block.theme-dark .nz-block-cover {
  background-color: rgba(3, 3, 3, 0.2);
}

.nz-block.theme-accent .nz-block-cover {
  background-color: var(--accent-color);
}

.nz-block.theme-darker .nz-block-cover,
.nz-block.theme-dark .nz-block-cover {
  border: 1px solid transparent;
}

.nz-block {
  overflow: hidden;
  position: relative;
}

.nz-block.theme-dark {
  background-color: #444;
  --base-color: #fff;
  --lead-color: #fff;
  --caption-color: #999;
  --fit-cover-bg-color: #000;

  --alt-border-color: #777;
  --separator-color: #666;
}

.nz-block.theme-darker {
  background-color: #292929;
  --base-color: #fff;
  --lead-color: #fff;
  --caption-color: #999;

  --alt-border-color: #777;
  --separator-color: #666;
}

.nz-block.theme-gray {
  background-color: #f9f9f9;
  --base-color: #333;
  --lead-color: #777;
  --caption-color: #999;
}

.nz-block.theme-light {
  background-color: #fff;
  --base-color: #333;
  --lead-color: #777;
  --caption-color: #999;
  --fit-cover-bg-color: #fff;

  /* nested nz-blocks theme-ligth correction */
  --button-color: #fff;
  --button-bg-color: var(--accent-color);
}

.nz-block.theme-accent {
  background-color: var(--accent-color);
  --base-color: #fff;
  --lead-color: #fff;
  --caption-color: #fff;

  --alt-border-color: #fff;
  --button-color: var(--accent-color);
  --button-bg-color: #fff;
}

.nz-block-wrapper {
  margin: 0 auto;
  max-width: 122em;
  padding: 1em 3em;
}

.nz-block-wrapper.narrow {
  max-width: 92em;
}

.nz-block-wrapper.pillow {
  padding: 8em 3em;
}

.nz-block-wrapper.semi-pillow {
  padding: 3em;
}

.nz-block-fullheight {
  min-height: calc(100vh - 8em);
}

.nz-block-halfheight {
  min-height: calc(50vh - 8em);
}

/* using for services block */
.nz-block-cover.alt-border {
  border: 1px solid var(--alt-border-color, #eee);
}

.nz-block-border-bottom {
  border-bottom: 1px solid var(--alt-border-color, #eee);
}

.nz-block-border-top {
  border-top: 1px solid var(--alt-border-color, #eee);
  padding-top: calc(1 / 1.4em);
}

.nz-fixed {
  position: fixed;
  z-index: 1;
  width: 100%; /* use for fullwith blocks! */
}

.nz-fit-cover,
.nz-fit,
.nz-fit > * {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100% !important;
  width: 100% !important;
}

.nz-fit-cover {
  background-color: var(--fit-cover-bg-color);
}

/* all elements after fit-cover need place "over" fit-cover */
.nz-fit-cover ~ * {
  position: relative;
}

.nz-roundbox {
  display: inline-block;
  border-radius: 50%;
  padding: 0.5em;
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 0.9;
  font-size: 3em;
  font-style: normal;
  font-weight: 600;
}
