/*
Кнопки

Кнопки используемые для оформления ссылок и действия формы.

.primary - кнопка привлекающая внимание
.small - уменьшенная кнопка
.danger - выделенная красным кнопка
.outline - как обычная ссылка с рамкой
.fat - с тенью, объемная кнопка
.block - занимает всю ширину родителя
:focus - после клика и до потери фокуса
:hover - при наведении
:active - в момент клика
:disabled - заблокированная для действия

Markup:
<a href="#" class="nz-button {{modifier_class}}">Ссылка</a>
<button class="nz-button {{modifier_class}}">Элемент кнопки</button>
<input type="submit" class="nz-button {{modifier_class}}" value="Элемент формы"/>

Styleguide: display.buttons
*/

/* button */
.nz-button {
  position: relative;
  display: inline-block;
  padding: 0.5em 1em;
  line-height: 1.5em;
  color: var(--secondary-color);
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: var(--primary-color);
  border-radius: 3px;
  border: 0;
  letter-spacing: 0.01em;
  text-decoration: none;
  appearance: none; /* Corrects inability to style clickable `input` types in iOS. */
  opacity: 0.85;
  margin: 0.4em;
  box-sizing: border-box;
}

.nz-button:focus {
  outline: none;
  box-shadow: 0 0 0.5em var(--accent-color);
}

.nz-button:hover,
.nz-button:active {
  opacity: 1;
}

.nz-button:active {
  box-shadow: inset 0 0.25em 0.5em rgba(0, 0, 0, 0.5);
}

.nz-button:disabled,
.nz-button.disabled {
  color: var(--disabled-color);
  cursor: default;
  box-shadow: none;
  pointer-events: none;
  opacity: 0.35;
}

/* small button */
.nz-button.small,
.small .nz-button { /* for small nz-form */
  padding: 0.25em 0.5em;
  font-size: 0.75em;
  line-height: 1.5em;
}

/* primary button */
.nz-button.primary {
  color: #fff;
  background-color: var(--accent-color);
}

/* danger button */
.nz-button.danger {
  color: #fff;
  background-color: var(--danger-color);
}

/* outline button */
.nz-button.outline {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  background-color: transparent;
}

.nz-button.outline:hover,
.nz-button.outline:active {
  color: var(--secondary-color);
  background-color: var(--accent-color);
}

.nz-button.outline:disabled,
.nz-button.outline.disabled {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

/* fat (3d) button */
.nz-button.fat {
  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.5);
}

.nz-button.fat:active {
  box-shadow: inset 0 0.25em 0.5em rgba(0, 0, 0, 0.5);
}

/* block button */
.nz-button.block {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 3px;
}
