/*
Формы

Форма является контейнером в котором можно установить направление элементов (nz-layout-column, nz-layout-row)
Оформлены основные элементы inpit, textarea, select

.small - уменьшенная форма

Markup:
<form class="nz-form nz-layout-wrap nz-layout-column {{modifier_class}}">
  <input type="text" id="name" placeholder="name">
  <input type="email" id="email" placeholder="email">
  <select>
    <option>Apple</option>
    <option>Pen</option>
    <option>Apple-Pen</option>
    <option>Pineapple</option>
    <option>Pineapple-Pen</option>
    <option>Pen-Pineapple-Apple-Pen</option>
  </select>
  <textarea></textarea>
  <button class="nz-button" type="submit">Отправить</button>
</form>
<form class="nz-layout-margin-2 nz-form nz-layout-wrap nz-layout-row nz-layout-align-center-center {{modifier_class}}">
  <input type="text" id="name" placeholder="name">
  <select>
    <option>Apple</option>
    <option>Pen</option>
    <option>Apple-Pen</option>
    <option>Pineapple</option>
    <option>Pineapple-Pen</option>
    <option>Pen-Pineapple-Apple-Pen</option>
  </select>
  <button class="nz-button" type="submit">Отправить</button>
</form>

Styleguide: display.forms
*/

/* Disable ligatures in editable areas due to https://github.com/github/github/issues/56941 */
input,
textarea {
  font-feature-settings: "liga" 0;
}

/*
  Hide the up/down buttons in <input type="number"> in the login form, the
  input is used for two-factor auth codes, type="number" makes it more usable
  on phones
*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

/* Custom styling for HTML5 validation bubbles (WebKit only) */
::placeholder {
  color: #777;
}

/* input */
.nz-form input:not([type="submit"]),
.nz-form textarea,
.nz-form select {
  padding: calc(1.2 / 1.4em);
  font-size: 1.4em;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  line-height: calc(2.5 / 1.4em);
  color: var(--dark-color);
  vertical-align: middle;
  background-color: var(--white-color);
  outline: none;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.14);
  box-sizing: border-box;
  height: 100%;
}

.full-with input:not([type="submit"]),
.full-with textarea,
.full-with select {
  width: 100%;
}

.nz-form input:focus,
.nz-form textarea:focus,
.nz-form select:focus {
  border-color: var(--accent-color);
  outline: none;
}

/* label */
.nz-form label {
  font-weight: 600;
}

/* select */
.nz-form select {
  display: inline-block;
  color: #333;
  max-width: 100%;
  min-height: 2.1em;
  padding-right: 1.5em;
  padding-right: 0.5em \9; /* IE9 hacks to reduce padding */
  background: #fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAADFBMVEUzMzMzMzMzMzMzMzMKAG/3AAAAA3RSTlMAf4C/aSLHAAAAPElEQVR42q3NMQ4AIAgEQTn//2cLdRKppSGzBYwzVXvznNWs8C58CiussPJj8h6NwgorrKRdTvuV9v16Afn0AYFOB7aYAAAAAElFTkSuQmCC") no-repeat right 8px center;
  background-image: none \9; /* IE9 hacks to hide the background-image */
  background-size: 8px 10px;
  -webkit-appearance: none;
  appearance: none;
}

/* Hides the default caret in IE11 */
.nz-form select::-ms-expand {
  opacity: 0;
}

.nz-form select[multiple] {
  height: auto;
}

.nz-form.small select {
  padding: calc(0.7 / 1.4em);
}

.nz-form.small select[multiple] {
  height: auto;
}

/* Mini inputs, to match .nz-button.small */
.nz-form.small input {
  padding: calc(0.7 / 1.4em);
}

/* nz-layout combination */

/* tmp solution, need rework */
@define-mixin nz-layout-combination-for-value $name, $val1, $val2 {
  .$(name) > input:not([type="checkbox"]):not([type="radio"]),
  .$(name) > textarea,
  .$(name) > select {
    margin: $(val1);
  }

  .$(name) > label:not(:empty) {
    margin: $(val2);
  }
}

@define-mixin nz-layout-combination-for-name $name {
  @mixin nz-layout-combination-for-value $(name)-row, 0 calc(2 / 1.4em) 0 0, 0 calc(2 / 1.4em) 0 0 {} /* stylelint-disable-line block-no-empty */

  @mixin nz-layout-combination-for-value $(name)-column, 0 0 calc(2 / 1.4em) 0, 0 0 0.5em 0 {} /* stylelint-disable-line block-no-empty */

  @mixin nz-layout-combination-for-value $(name)-row>div, 0 calc(2 / 1.4em) 0 0, 0 calc(2 / 1.4em) 0 0 {} /* stylelint-disable-line block-no-empty */

  @mixin nz-layout-combination-for-value $(name)-column>div, 0 0 calc(2 / 1.4em) 0, 0 0 0.5em 0 {} /* stylelint-disable-line block-no-empty */
}

@mixin nz-layout-combination-for-name nz-layout {} /* stylelint-disable-line block-no-empty */

@media (max-width: 600px) {
  @mixin nz-layout-combination-for-name nz-layout-xs {} /* stylelint-disable-line block-no-empty */
}

/* reset btn margin in form */
.nz-form .nz-button {
  margin: 0;
}
