/* Disable ligatures in editable areas due to https://github.com/github/github/issues/56941 */
input,
textarea {
  font-feature-settings: "liga" 0;
}

/*
  Hide the up/down buttons in <input type="number"> in the login form, the
  input is used for two-factor auth codes, type="number" makes it more usable
  on phones
*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

/* Custom styling for HTML5 validation bubbles (WebKit only) */
::placeholder {
  color: #999;
}

/* input */
.nz-form input:not([type="submit"]),
.nz-form textarea,
.nz-form select {
  min-height: 2.1em;
  padding: 0.5em 1em;
  line-height: 1.25em;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid var(--disabled-color);
  border-radius: 3px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}

.nz-form input:focus,
.nz-form textarea:focus,
.nz-form select:focus {
  border-color: var(--accent-color);
  outline: none;
  box-shadow:
    inset 0 1px 2px rgba(0, 0, 0, 0.075),
    0 0 5px var(--accent-color);
}

/* label */
.nz-form label {
  font-weight: 600;
}

/* select */
.nz-form select {
  display: inline-block;
  color: #333;
  max-width: 100%;
  min-height: 2.1em;
  padding-right: 1.5em;
  padding-right: 0.5em \9; /* IE9 hacks to reduce padding */
  background: #fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAADFBMVEUzMzMzMzMzMzMzMzMKAG/3AAAAA3RSTlMAf4C/aSLHAAAAPElEQVR42q3NMQ4AIAgEQTn//2cLdRKppSGzBYwzVXvznNWs8C58CiussPJj8h6NwgorrKRdTvuV9v16Afn0AYFOB7aYAAAAAElFTkSuQmCC") no-repeat right 8px center;
  background-image: none \9; /* IE9 hacks to hide the background-image */
  background-size: 8px 10px;
  -webkit-appearance: none;
  appearance: none;
}

/* Hides the default caret in IE11 */
.nz-form select::-ms-expand {
  opacity: 0;
}

.nz-form select[multiple] {
  height: auto;
}

.nz-form.small select {
  min-height: 1.75em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: 0.75em;
}

.nz-form.small select[multiple] {
  height: auto;
  min-height: 0;
}

/* Mini inputs, to match .nz-button.small */
.nz-form.small input {
  min-height: 1.75em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: 0.75em;
  line-height: 1.25em;
}

/* nz-layout combination */
.nz-layout-row > input:not([type="checkbox"]):not([type="radio"]),
.nz-layout-row > textarea,
.nz-layout-row > select {
  margin-right: 2em;
}

.nz-layout-row > label {
  margin-right: 1em;
}

.nz-layout-column > input:not([type="checkbox"]):not([type="radio"]),
.nz-layout-column > textarea,
.nz-layout-column > select {
  margin-bottom: 1em;
}

.nz-layout-column > label {
  margin-bottom: 0.5em;
}

/* reset btn margin in form*/
.nz-form .nz-button {
  margin: 0;
}