/*
Отображение

Styleguide: display
*/

@import './texts';
@import './buttons';
@import './whiteframes';
@import './forms';
@import './blocks';
@import './backgrounds';
@import './separator';
@import './navigation';

.clear-margin {
  margin: 0;
}

.max-width {
  width: 100%;
}
