/*
Разделитель

.nz-separator - separator
.nz-separator-small - separator
.nz-separator-thin - separator

Styleguide: display.separator
*/

.nz-separator {
  background-color: #eee;
  height: 2px;
  width: 430px;
  margin: 10px auto;
  position: relative;
}

.nz-block.theme-dark .nz-separator {
  background-color: #666;
}

.nz-block.theme-darker .nz-separator {
  background-color: #666;
}

.nz-separator:before {
  content: '\25CF';
  color: #eee;
  font-size: 32px;
  position: absolute;
  top: -19px;
  left: 50%;
  width: 26px;
  text-align: center;
  margin-left: -13px;
}

.nz-block.theme-dark .nz-separator:before {
  color: #666;
}

.nz-block.theme-darker .nz-separator:before {
  color: #666;
}

.nz-block.theme-dark .nz-separator:before {
  box-shadow: inset 0 0 0 12px #444;
}

.nz-block.theme-darker .nz-separator:before {
  box-shadow: inset 0 0 0 12px #292929;
}

.nz-block.theme-gray .nz-separator:before {
  box-shadow: inset 0 0 0 12px #f9f9f9;
}

.nz-block.theme-light .nz-separator:before {
  box-shadow: inset 0 0 0 12px #fff;
}

.nz-block.theme-accent .nz-separator:before {
  box-shadow: inset 0 0 0 12px var(--accent-color);
}

.nz-separator-small {
  box-sizing: border-box;
  width: 4em;
  margin: 2em;
}

.nz-block.theme-dark .nz-separator-small {
  border: 1px solid #999;
}

.nz-block.theme-darker .nz-separator-small {
  border: 1px solid #999;
}

.nz-block.theme-gray .nz-separator-small {
  border: 1px solid #777;
}

.nz-block.theme-light .nz-separator-small {
  border: 1px solid #777;
}

.nz-block.theme-accent .nz-separator-small {
  border: 1px solid #fff;
}

.nz-separator-thin {
  box-sizing: border-box;
  width: 100%;
  margin: 3em 0;
  border: 0;
  border-bottom: 1px solid #eee;
}
