
summary {
  outline: none;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

summary:before,
.nz-spoiler:before {
  content: "\f107" !important;
  font: normal normal normal 1.5em/1 FontAwesome;
  color: var(--accent-color);
  text-align: center;
  position: relative;
  left: 3px;
  top: 4px;
  margin-right: 0.5em;
  display: inline-block;
}

.nz-block.theme-accent summary:before,
.nz-block.theme-accent .nz-spoiler:before {
  color: #fff;
}

details[open] summary:before,
.nz-spoiler[open]:before {
  content: "\f106" !important;
  top: 0;
}

