
summary {
  outline: none;
}

summary::-webkit-details-marker {
  display: none;
}

summary:before,
.nz-spoiler:before {
  color: var(--spoiler-color);
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  position: relative;
  left: 3px;
  margin-right: 0.5em;
  content: "\f107";
  font: normal normal normal 14px/1 FontAwesome;
}

details[open] summary:before,
.nz-spoiler[open]:before {
  content: "\f106";
}

