/*
Тексты и заголовки

Классы для работы с текстами и заголовками.

.nz-big-title -
.nz-lead -
.nz-bold-title -
.nz-title -
.nz-paragraph-accent -
.nz-paragraph -
.nz-small-paragraph -
.nz-caption -
.nz-error -
.nz-text-center - выровнять текст по центру

Markup:
<p class="{{modifier_class}}">Тестовый заголовок</p>

Styleguide: display.texts
*/

.nz-big-title {
  font-size: 3em;
  font-weight: 600;
  line-height: calc(4 / 3em);
  color: #fff;
  margin-bottom: calc(1 / 3em);
  min-height: 1em;
  min-width: 1em;
}

.nz-block.theme-gray .nz-big-title,
.nz-block.theme-light .nz-big-title {
  color: #333;
}

.nz-lead {
  font-size: 2.4em;
  font-weight: 400;
  line-height: calc(3 / 2.4em);
  color: #fff;
  margin-bottom: calc(1 / 2.4em);
  min-height: 1em;
  min-width: 1em;
}

.nz-block.theme-light .nz-lead,
.nz-block.theme-gray .nz-lead {
  color: #777;
}

.nz-bold-title {
  font-size: 2em;
  font-weight: 700;
  line-height: calc(2.5 / 2em);
  letter-spacing: calc(0.2 / 2em);
  color: #fff;
  margin-bottom: calc(1 / 2em);
  min-height: 1em;
  min-width: 1em;
}

.nz-block.theme-gray .nz-bold-title,
.nz-block.theme-light .nz-bold-title {
  color: #333;
}

.nz-title {
  font-size: 1.6em;
  font-weight: 600;
  line-height: calc(2.5 / 1.6em);
  letter-spacing: calc(0.2 / 2em);
  color: #fff;
  margin-bottom: calc(1 / 1.6em);
  min-height: 1em;
  min-width: 1em;
}

.nz-block.theme-gray .nz-title,
.nz-block.theme-light .nz-title {
  color: #333;
}

.nz-paragraph-accent {
  font-size: 1.6em;
  font-weight: 400;
  line-height: calc(2.5 / 1.6em);
  color: var(--accent-color);
  margin-bottom: calc(1 / 1.6em);
  min-height: 1em;
  min-width: 1em;
}

.nz-block.theme-accent .nz-paragraph-accent {
  color: #fff;
}

.nz-paragraph {
  font-size: 1.6em;
  font-weight: 400;
  line-height: calc(2.5 / 1.6em);
  color: #fff;
  margin-bottom: calc(1 / 1.6em);
  min-height: 1em;
  min-width: 1em;
}

.nz-block.theme-gray .nz-paragraph,
.nz-block.theme-light .nz-paragraph {
  color: #333;
}

.nz-small-paragraph {
  font-size: 1.4em;
  font-weight: 400;
  line-height: calc(2.5 / 1.4em);
  margin-bottom: calc(1 / 1.4em);
  min-height: 1em;
  min-width: 1em;
}

.nz-block.theme-dark .nz-small-paragraph {
  color: #999;
}

.nz-block.theme-darker .nz-small-paragraph {
  color: #999;
}

.nz-block.theme-gray .nz-small-paragraph {
  color: #777;
}

.nz-block.theme-light .nz-small-paragraph {
  color: #777;
}

.nz-block.theme-accent .nz-small-paragraph {
  color: #fff;
}

.nz-caption {
  font-size: 1.1em;
  font-weight: 600;
  line-height: calc(1.5 / 1.1em);
  color: #999;
  margin-bottom: calc(1 / 1.1em);
  min-height: 1em;
  min-width: 1em;
}

.nz-block.theme-accent .nz-caption {
  color: #fff;
}

.nz-error {
  font-size: 1.4em;
  font-weight: 400;
  line-height: calc(2.5 / 1.4em);
  color: #d0011b;
  margin-bottom: calc(1 / 1.4em);
}

/* helpers */
.nz-text-center {
  text-align: center;
}

.nz-text-left {
  text-align: left;
}

.nz-text-right {
  text-align: right;
}

.nz-text-uppercase {
  text-transform: uppercase;
}

.nz-text-pre {
  white-space: pre-wrap;
}

@media (max-width: $layout-breakpoint-xs) {
  .nz-text-xs-center {
    text-align: center;
  }
}
