.lpt-container.testimonials {
  &-1 {
    .lpt-title-2 {
      margin-bottom: 2rem;
    }

    .slider-container {
      margin-top: 2rem;
      padding: 0 2rem;

      h2 {
        font-size: 1.1875rem;
        letter-spacing: 1px;
      }

      h3 {
        font-size: 0.9375rem;
        font-style: italic;
        color: var(--accent-color);
        text-align: left;
        font-weight: 100;
      }

      p {
        line-height: 1.8;
        letter-spacing: 0;
        font-size: 0.9rem;
      }
    }

    .slider-element {
      padding: 0 1rem;

      img {
        margin-right: 1rem;
      }
    }
  }
}
