/*
Иконки

Styleguide: icons
*/

/*
Модификаторы иконок

.icon-lg - немного увеличенный размер иконки
.icon-2x - размер 2х
.icon-3x - размер 3х
.icon-4x - размер 4х
.icon-5x - размер 5х
.icon-fw - немного увеличенный размер и выравнивание по центру
.icon-border - иконка в рамке
.pull-right - отступ слева
.pull-left - отступ справа
.icon-spin - анимация вращения
.icon-rotate-90 - повернуть на 90 градусов
.icon-rotate-180 - повернуть на 180 градусов
.icon-rotate-270 - повернуть на 270 градусов
.icon-flip-horizontal - отразить горизонтально
.icon-flip-vertical - отразить вертикально

Markup:
<i class="icon-line2-note {{modifier_class}}"></i>
<i class="icon-line2-clock {{modifier_class}}"></i>
<i class="icon-line2-tag {{modifier_class}}"></i>

Styleguide: icons.mods
*/

/* stylelint-disable */

@import "./et-line.css";
@import "./medical-icons.css";
@import "./font-icons.css";

/* stylelint-enable */