.theme-canvas .partners {
  img {
    width: 100%;
    opacity: .5;
    transition: .3s;
  }

  img:hover {
    opacity: 1;
  }

  .repeater-item-wrapper {
    box-shadow: -1px 1px 0 #ddd;
  }

  .repeater {
    overflow: hidden;
    padding-left: 0;
  }
}
