.navigation {
  &-1 {
    background-color: var(--accent-color);
    
    .nav-link {
      transition: 0.3s;
      padding: 8px 10px;
      white-space: nowrap;

      &:hover {
        background-color: rgba(0, 0, 0, 0.15);
      }
    }
  }
}
