.staff {
  &-1 {
    .lpt-title-1 {
      margin-bottom: 2rem;
    }
  }

  &-2 {
    .circle {
      position: relative;
      background-color: #e5e5e5;

      &:after,
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        height: 1px;
        width: 100px;
        background-color: #e5e5e5;
      }

      &:after {
        right: 2rem;
      }

      &:before {
        left: 2rem;
      }
    }
  }
}
