.gray .usp {

  &-2 {

    .lpt-container {
      color: #f2f2f2;

      h2 {
        color: #fff;
      }

      form {

        input,
        select,
        textarea {
          color: #aba9a9;
        }
      }
    }

    .bottom-line {
      background-color: #a5a5a5;
      color: #4a4a4a;

      h2 {
        color: #222;
      }
    }
  }

  &-3 {

    .lpt-container {

      .left-side {
        color: #eee;

        h3 {
          color: #fff;
        }

        .author {
          color: #fff;

          .company {
            color: #cecece;
          }
        }
      }

      .right-side {
        background-color: #fff;
      }

      form {

        input,
        select,
        textarea {
          border: 1px solid #525252;
        }

        .button-form {
          border-color: #525252;
          color: #525252;

          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }

  &-5 {
    .lpt-title-1 {
      color: #fff;
    }

    .lpt-title-2 {
      color: #fff;
    }

    .right-block h2,
    .right-block p {
      color: #fff;
    }
  }
}
