.light .usp {

  &-2 {

    .lpt-container {

      form {

        input,
        select,
        textarea {
          color: #aba9a9;
        }
      }
    }

    .bottom-line {
      background-color: #f2f2f2;
      color: #292929;

      h2 {
        color: #222;
      }
    }
  }

  &-3 {

    .lpt-container {

      .left-side {
        color: #525252;

        h3 {
          color: #333;
        }

        .author {
          color: #8c8c8c;

          .company {
            color: #c1c1c1;
          }
        }
      }

      .right-side {
        background-color: #fff;
      }

      form {

        input,
        select,
        textarea {
          border: 1px solid #525252;
        }

        .button-form {
          border-color: #525252;
          color: #525252;

          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }

  &-5 {
    .lpt-title-1 {
      color: #fff;
    }

    .lpt-title-2 {
      color: #fff;
    }
  }
}
