.dark .lpt-container.comparison {
  &-1 {
    background-color: #282828;

    .lpt-title-2 {
      color: #eee;
    }

    .lpt-title-3 {
      color: #ccc;
      text-align: left;
      line-height: 1.5;
    }

    hr:after {
      background-color: #888;
    }

    .container-item p {
      color: #888;
    }
  }
}
