@media (max-width: 960px) {
  .portfolio {
    &-1 {
      padding-bottom: 2rem;

      /* WORKAROUND for preview */
      .editable.repeater-item-wrapper {
        max-width: 100%;
      }
    }
  }
}

/* WORKAROUND */
@media (min-width: 1440px) {
  .portfolio {
    &-1 {
      .portfolio-container {
        display: flex;

        img {
          width: 100%;
        }
      }
    }
  }
}
