.trigger {
  &-1 {
    hr {
      margin: 2rem auto;
    }

    /* WORKAROUND чтобы элементы репитера корректно отображались в редакторе */
    .editable.repeater-item-wrapper {
      flex: 1 1 33%;
      max-width: 33%;
      max-height: 100%;
      box-sizing: border-box;

      & > div {
        flex: 1 1 100%;
        max-width: 100%;
      }
    }

    .icon-class {
      font-size: 3rem;
      text-align: center;
      color: var(--accent-color);
    }

    .repeater {
      margin-top: 2rem;
      padding: 0 2rem;

      h2 {
        font-size: 1rem;
        line-height: 1.5;
      }

      p {
        font-size: 0.9rem;
        line-height: 1.8;
        letter-spacing: 0;
      }
    }
  }

  &-2 {
    h2 {
      font-weight: 100;
      line-height: 1.25;
      font-size: 1.5rem;
    }

    p {
      letter-spacing: 0;
      font-weight: 100;
    }
  }
}
