.gray .lpt-container.trigger {
  background-color: gray;

  &-1,
  &-2 {
    color: #333;

    h2 {
      color: #333;
    }

    .lpt-title-2 {
      color: #333;
    }
  }
}

.gray.trigger {
  background-color: #F9F9F9;
}

.gray.trigger .lpt-container {
  background-color: transparent;
}