.light .lpt-container.trigger {
  &-1 {
    color: #777;

    h2 {
      color: #222;
    }

    .lpt-title-2 {
      color: #777;
    }
  }

  &-2 {
    background-color: #fff;

    p {
      color: #888;
    }
  }

  &-3 {
    color: #444;

    h2 {
      color: #444;
    }
  }
}


.light.trigger {
  background-color: #fff;
}

.light.trigger .lpt-container {
  background-color: transparent;
}