.gray .lpt-container.offer {
  &-1 {
    background-color: #F9F9F9 !important;

    form {
      background-color: #F9F9F9;
    }
  }

  &-2 {
    .lpt-title-1 {
      color: #444;
    }

    .lpt-title-2 {
      color: #777;
    }
  }

  &-3 {
    background-color: #fff;
    color: #444;

    &:hover {
      background-color: #444;
      color: #fff;
    }
  }
}
