.achievement {
  &-1 {
    padding: 3.5vw 5vw;

    .icon-class {
      width: 4rem;
      height: 4rem;
      font-size: 3rem;
      line-height: 4rem;
    }

    h2 {
      font-size: 1.3rem;
      font-family: inherit;
    }

    h3 {
      font-size: 0.68rem;
      font-family: inherit;
      letter-spacing: 1px;
    }
  }

  &-2 {
    hr {
      margin: 1rem auto;
    }

    h2 {
      font-weight: 400;
      letter-spacing: 1px;
    }

    h3 {
      font-weight: 100;
      font-size: 0.7rem;
      letter-spacing: 1px;
    }
  }

  .repeater-item-wrapper > div {
    max-width: 200px;
  }
}
