.dark .lpt-container.achievement {
  &-1 {
    background-color: #444;
    color: #fff;

    .icon-class {
      color: rgba(255, 255, 255, 0.4);
    }

    h2 {
      color: #eee;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    }

    h3 {
      color: #999;
    }
  }
}
