.popup {
  &-1 {
    max-width: 40rem;
    position: relative;
    z-index: 999;

    .lpt-title-1,
    .lpt-title-2 {
      max-width: 100%;
    }

    .lpt-title-1 {
      font-size: 1.5rem;
    }

    .lpt-title-2 {
      font-size: 1.2rem;
    }

    form {
      margin-top: 0.9rem;
    }

    .lpt-button {
      margin-top: 0.3rem;
    }
  }
  &-2 {
    max-width: 40rem;
    position: relative;
    z-index: 999;

    .lpt-title-1,
    .lpt-title-2 {
      max-width: 100%;
    }

    .lpt-title-1 {
      font-size: 1.5rem;
    }

    .lpt-title-2 {
      font-size: 0.8rem;
    }

    form {
      margin-top: 0.9rem;
    }

    .lpt-button {
      margin-top: 0.3rem;
    }
  }
}
