/*
Цвета

Палитра акцентных цветов

.pizazz-color - #E87034
.rob-roy-color - #E3B960
.monte-carlo-color - #82C9AC
.mountain-meadow-color - #19BC9C
.charlotte-color - #95C6E3
.curious-blue-color - #408DBD
.heather-color - #AFB8BE
.old-rose-color - #AF2E4E
.illusion-color - #EE9FB2
.lilac-bush-color - #A272C4

Markup:
<p class="{{modifier_class}}"><a>Тестовый заголовок</a></p>

Styleguide: colors
*/

:root {
  --accent-color: #e87034;
}

/* helpers */
.nz-base-color {
  color: #fff !important;
}

.nz-block.theme-gray .nz-base-color,
.nz-block.theme-light .nz-base-color {
  color: #333 !important;
}

.nz-accent-color {
  color: var(--accent-color);
}

.nz-block.theme-accent .nz-accent-color {
  color: #fff;
}

.nz-danger-color {
  color: #c02942;
}
