@import 'reset-css/reset.css';
@import './typography.css';
@import './settings-specific.css';
@import './layout.css';
@import './styling-main.css';
@import './styling-blocks.css';
@import './styling-dark.css';
@import './styling-light.css';
@import './styling-gray.css';
@import './font-icons.css';
@import './popup.css';
@import './slider.css';

:root {
  --accent-color: #00bcd4;
  --base-color: #333;

  /* WORKAROUND prevent hide scroll then dialog open */
  overflow-y: scroll !important;
}

::selection {
  color: white;
  background: var(--accent-color);
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}
