@define-mixin flex-for-name $name {
  @for $index from 1 to 100 {
    .lpt-flex-$(index)$(name) {
      flex: 1 1 $(index)%;
      max-width: $(index)%;
      max-height: 100%;
      box-sizing: border-box;
    }
  }
}

@define-mixin width-for-name $name {
  @for $index from 1 to 100 {
    .lpt-width-$(index)$(name) {
      width: $(index)%;

      &.lpt-max-width {
        max-width: 960px;
      }
    }
  }
}

@define-mixin offset-for-name $name {
  @for $index from 1 to 10 {
    .lpt-offset-$(index)$(name) {
      margin-left: $(index)rem;
    }

    .lpt-offset-clear$(name) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

@define-mixin layout-for-name $name {
  .lpt-layout$(name),
  .lpt-layout-column$(name),
  .lpt-layout-row$(name) {
    box-sizing: border-box;
    display: flex;
  }

  .lpt-layout-column$(name) {
    flex-direction: column;
  }

  .lpt-layout-row$(name) {
    flex-direction: row;
  }

  .lpt-layout-padding$(name) {
    padding: 1rem;
  }


  .lpt-layout-padding-2$(name) {
    padding: 2rem;
  }

  .lpt-layout-wrap$(name) {
    flex-wrap: wrap;
  }

  .lpt-layout-nowrap$(name) {
    flex-wrap: nowrap;
  }

  .lpt-nogrow$(name) {
    flex-grow: 0;
  }

  .lpt-auto-width$(name) {
    width: auto;
  }
}

@define-mixin layout-align-for-name $suffix {
  $name: lpt-layout-align;

  .$(name)-start$(suffix) {
    justify-content: flex-start;
  }

  .$(name)-center$(suffix) {
    justify-content: center;
  }

  .$(name)-end$(suffix) {
    justify-content: flex-end;
  }

  .$(name)-space-around$(suffix) {
    justify-content: space-around;
  }

  .$(name)-space-between$(suffix) {
    justify-content: space-between;
  }

  .$(name)-flex-start$(suffix) {
    align-items: flex-start;
    align-content: flex-start;
  }

  .$(name)-start-center$(suffix) {
    align-items: center;
    align-content: center;
  }

  .$(name)-start-end$(suffix) {
    align-items: flex-end;
    align-content: flex-end;
  }

  .$(name)-start-stretch$(suffix) {
    align-items: stretch;
    align-content: stretch;
  }
}

@mixin flex-for-name;
@mixin width-for-name;
@mixin offset-for-name;
@mixin layout-for-name;
@mixin layout-align-for-name;

@media (max-width: 960px) {
  @mixin flex-for-name -sm;
  @mixin width-for-name -sm;
  @mixin layout-for-name -sm;
  @mixin offset-for-name -sm;
  @mixin layout-align-for-name -sm;
}
