/* Переделаю эти два миксина, когда разберусь, почему если не указывать аргумент,
  класс не отрабатывает */
@define-mixin flex-for-name $name: '' {
  @for $index from 1 to 100 {
    .lpt-flex-$(index)$(name) {
      flex: 1 1 $(index).$(index)%;
      max-width: $(index).$(index)%;
      max-height: 100%;
      box-sizing: border-box;
    }
  }
}

@define-mixin flex {
  @for $index from 1 to 100 {
    .lpt-flex-$(index) {
      flex: 1 1 $(index).$(index)%;
      max-width: $(index).$(index)%;
      max-height: 100%;
      box-sizing: border-box;
    }
  }
}

.lpt-layout {

  &,
  &-column,
  &-row {
    @mixin flex;
    display: flex;
  }

  &-column {
    flex-direction: column;
  }

  &-row {
    flex-direction: row;
  }

  &-align-end {
    justify-content: flex-end;
  }

  &-vertical-center {
    align-items: center;
  }

  &-vertical-end {
    align-items: flex-end;
  }

  &-padding {
    padding: 16px;
  }
}

@for $index from 5 to 95 by 5 {
  .flex-offset-$(index) {
    margin-left: $(index)%;
  }
}

@media (max-width: 960px) {
  .lpt-layout {

    &,
    &-column,
    &-row {
      @mixin flex-for-name -sm;
    }

    &-align-center-sm {
      justify-content: center;
    }

    &-vertical-center-sm {
      align-items: center;
    }

    &-column-sm {
      flex-direction: column;
    }

    &-row-sm {
      flex-direction: row;
    }
  }
}
