.slider-container {
  overflow: hidden;
  max-width: 100%;
  position: relative;
}

.slider-container .slider {
  transition: 0.5s;
}

.slider-container .repeater-item-wrapper {
  float: left;
}

.first-slide .slider-arrow-left {
  display: none;
}

.last-slide .slider-arrow-right {
  display: none;
}

.slider:hover {
  .slider-arrow-right, 
  .slider-arrow-left {
    opacity: 1;
  }

  .slider-arrow-right {
    right: 0;
  }

  .slider-arrow-left {
    left: 0;
  }
}

.slider-arrow-right, 
.slider-arrow-left {
  position: absolute;
  z-index: 10;
  width: 36px;
  height: 36px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  line-height: 36px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  color: #666;
  opacity: 0;

  &:hover {
    background-color: #1ABC9C;
    color: #fff;
  }
}

.slider-arrow-left {
  left: -20px;

  .slider-arrow {
    margin-right: 3px;
  }
}

.slider-arrow-right {
  right: -20px;

  .slider-arrow {
    margin-left: 3px;
  }
}
