.slider-container {
  overflow: hidden;
  max-width: 100%;
  position: relative;
}

.slider-container .slider {
  transition: 0.5s;
}

.slider-container .repeater-item-wrapper {
  float: left;
}

.first-slide .slider-arrow-left {
  display: none;
}

.last-slide .slider-arrow-right {
  display: none;
}

.slider-arrow-left {
  position: absolute;
  z-index: 10;
  width: 30px;
  height: 30px;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.slider-arrow-right {
  position: absolute;
  z-index: 10;
  width: 30px;
  height: 30px;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.slider-arrow {
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
}

.slider-arrow:hover {
  background: rgba(0, 0, 0, 0.6);
}
