.dark {
  --header-color: #fff;
  --text-color: #f2f2f2;
  --label-color: #e6e3e3;

  .usp {

    &-2 {

      .lpt-container {
        color: #cacaca;

        form {

          input,
          select,
          textarea {
            color: #aba9a9;
          }
        }
      }

      .bottom-line {
        background-color: #333;
        color: #f2f2f2;

        h2 {
          color: #fff;
        }
      }
    }

    &-3 {
      --header-color: #333;
      --text-color: #525252;
      --label-color: #3a3a3a;

      .lpt-container {

        .left-side {
          color: #eaeaea;

          h3 {
            color: #f2f2f2;
          }

          .author {
            color: #d4d4d4;

            .company {
              color: #c1c1c1;
            }
          }
        }

        .right-side {
          background-color: #fff;
        }

        form {

          input,
          select,
          textarea {
            border: 1px solid var(--text-color);
          }

          .button-form {
            border-color: var(--text-color);
            color: var(--text-color);

            &:hover {
              background-color: rgba(0, 0, 0, 0.1);
            }
          }
        }
      }
    }
  }

  .lpt-container {
    color: var(--text-color);
    background-color: rgba(0, 0, 0, 0.5);

    .lpt-title-1 {
      color: #fff;
    }

    .lpt-title-2 {
      color: #fff;
    }

    h2 {
      color: var(--header-color);
    }

    form {

      label {
        color: var(--label-color);
      }

      input,
      select,
      textarea {
        background-color: #fff;
        color: #333;
      }

      .button-form {
        border: 2px solid #fff;
        color: #fff;
        background-color: transparent;

        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }

      .button-form-2 {
        color: #fff;
        background-color: #5cb85c;

        &:hover {
          background-color: #525252;
        }
      }
    }
  }
}
