.gray {
  --header-color: #222;
  --text-color: #4a4a4a;
  --label-color: #505050;

  .usp {

    &-2 {

      .lpt-container {
        color: #f2f2f2;

        h2 {
          color: #fff;
        }

        form {

          input,
          select,
          textarea {
            color: #aba9a9;
          }
        }
      }

      .bottom-line {
        background-color: #a5a5a5;
        color: var(--text-color);

        h2 {
          color: var(--header-color);
        }
      }
    }

    &-3 {
      --header-color: #333;
      --text-color: #525252;
      --label-color: #3a3a3a;

      .lpt-container {

        .left-side {
          color: var(--text-color);

          h3 {
            color: var(--header-color);
          }

          .author {
            color: #272727;

            .company {
              color: #444;
            }
          }
        }

        .right-side {
          background-color: #fff;
        }

        form {

          input,
          select,
          textarea {
            border: 1px solid var(--text-color);
          }

          .button-form {
            border-color: var(--text-color);
            color: var(--text-color);

            &:hover {
              background-color: rgba(0, 0, 0, 0.1);
            }
          }
        }
      }
    }
  }

  .lpt-container.achievement {
    &-1 {
      background-color: gray;
      color: #fff;
    }
  }

  .lpt-container.trigger {
    &-1 {
      background-color: gray;
      color: #fff;

      h2 {
        color: #fff;
      }

      .lpt-title-2 {
        color: #fff;
      }
    }
  }

  .lpt-container.offer {
    &-3 {
      background-color: #eee;
      color: #333;

      &:hover {
        background-color: #444;
        color: #fff;
      }
    }
  }

  &.header .lpt-container {
    color: #eee;
  }

  .lpt-container {
    color: var(--text-color);
    background-color: rgba(125, 125, 125, 0.4);

    label {
      color: var(--label-color);
    }

    input,
    select,
    textarea {
      background-color: #fff;
      color: var(--text-color);
      border: 1px solid var(--text-color);
    }

    .button-form {
      border: 2px solid var(--text-color);
      color: var(--text-color);
      background-color: transparent;

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }

    .button-form-2 {
      color: #fff;
      background-color: #5cb85c;

      &:hover {
        background-color: #525252;
      }
    }

    .lpt-button-3 {
      color: var(--text-color);
      border-color: var(--text-color);
      background-color: transparent;

      &:hover {
        background-color: var(--text-color);
        color: #fff;
      }
    }
  }
}
