.light {
  --header-color: #222;
  --text-color: #292929;
  --label-color: #505050;

  .usp {

    &-2 {

      .lpt-container {

        form {

          input,
          select,
          textarea {
            color: #aba9a9;
          }
        }
      }

      .bottom-line {
        background-color: #f2f2f2;
        color: var(--text-color);

        h2 {
          color: var(--header-color);
        }
      }
    }

    &-3 {
      --header-color: #333;
      --text-color: #525252;
      --label-color: #3a3a3a;

      .lpt-container {

        .left-side {
          color: var(--text-color);

          h3 {
            color: var(--header-color);
          }

          .author {
            color: #8c8c8c;

            .company {
              color: #c1c1c1;
            }
          }
        }

        .right-side {
          background-color: #fff;
        }

        form {

          input,
          select,
          textarea {
            border: 1px solid var(--text-color);
          }

          .button-form {
            border-color: var(--text-color);
            color: var(--text-color);

            &:hover {
              background-color: rgba(0, 0, 0, 0.1);
            }
          }
        }
      }
    }
  }

  .lpt-container.trigger {
    &-1 {
      background-color: #fff;
      color: #777;

      h2 {
        color: var(--header-color);
      }

      .lpt-title-2 {
        color: #777;
      }
    }
  }

  .lpt-container.staff {
    &-1 {
      background-color: #fff;

      .lpt-title-1 {
        color: var(--header-color);
      }

      hr {
        border-color: var(--header-color);
      }
    }
  }

  .lpt-container.services {
    &-1 {
      background-color: #fff;

      .header-container {
        color: #999;
      }

      .lpt-title-1 {
        color: #333;
      }

      .lpt-title-2 {
        color: #777;
      }

      .lpt-title-3 {
        color: #555;
      }

      .text-from {
        color: var(--accent-color);
      }

      .text-price {
        color: var(--accent-color);
      }

      .text-info {
        color: #999;
      }

      .text-multiline {
        color: #555;
      }
    }
  }

  .lpt-container.testimonials {
    &-1 {
      background-color: #fff;

      .slider-element {
        h2 {
          color: #444;
        }

        p {
          color: #777;
        }
      }
    }
  }

  .lpt-container.offer {
    &-2 {
      .lpt-title-1 {
        color: #444;
      }

      .lpt-title-2 {
        color: #777;
      }
    }

    &-3 {
      background-color: #fff;
      color: #444;

      &:hover {
        background-color: #444;
        color: #fff;
      }
    }
  }

  .lpt-container.process {
    &-1 {
      background-color: #fff;
      color: #999;
    }
  }

  .lpt-container {
    color: var(--text-color);
    background-color: rgba(255, 255, 255, 0.7);

    h2 {
      color: var(--header-color);
    }

    h3 {
      color: #444;
    }

    label {
      color: var(--label-color);
    }

    input,
    select,
    textarea {
      background-color: #fff;
      color: var(--text-color);
      border: 1px solid var(--text-color);
    }

    .button-form {
      border: 2px solid var(--text-color);
      color: var(--text-color);
      background-color: transparent;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    .button-form-2 {
      color: #fff;
      background-color: #5cb85c;

      &:hover {
        background-color: #525252;
      }
    }
  }
}
