.light {
  --header-color: #222;
  --text-color: #292929;
  --label-color: #505050;

  .lpt-container {
    color: var(--text-color);
    background-color: rgba(255, 255, 255, 0.7);

    h2 {
      color: var(--header-color);
    }

    h3 {
      color: #444;
    }

    label {
      color: var(--label-color);
    }

    input:not([type='submit']),
    select,
    textarea {
      background-color: #fff;
      color: var(--text-color);
      border: 1px solid var(--text-color);
    }

    .button-form {
      border: 2px solid var(--text-color);
      color: var(--text-color);
      background-color: transparent;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    .button-form-2 {
      color: #fff;
      background-color: #5cb85c;

      &:hover {
        background-color: #525252;
      }
    }
  }
}
