section.block {
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.full-height {
  min-height: 100vh;
}

.half-height {
  min-height: 50vh;
}

.quarter-height {
  min-height: 25vh;
}

.lpt-container {

  h2 {
    font-size: 1.35rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  h3 {
    font-size: 1.1rem;
    font-family: Arial;
  }

  p {
    font-size: 1rem;
  }

  form {
    box-sizing: border-box;
    margin-top: 1.5rem;

    label {
      display: block;
      margin-bottom: 0.6rem;
      font-size: 0.8rem;
      font-weight: 700;

      &:empty {
        display: none;
      }
    }

    input,
    textarea,
    select {
      border-radius: 3px;
      border: 0;
      padding: 2px 7px;
      margin: 0 0 1.2rem;
      min-width: 15rem;
      box-sizing: border-box;

      &:focus {
        outline: none;
      }
    }

    input,
    select {
      height: 1.8rem;
    }

    textarea {
      height: 3.2rem;
    }

    select {
      padding: 0 0.125rem;
    }

    .button-form,
    .button-form-2 {
      display: block;
      cursor: pointer;
      transition: 0.3s;
      text-align: center;
    }

    .button-form {
      border-radius: 40px;
      text-transform: none;
      padding: 0.625rem 1.25rem;
      font-size: 0.8rem;
    }

    .button-form-2 {
      border-radius: 5px;
      text-transform: uppercase;
      border: 0;
      font-weight: 700;
    }
  }

  .text-italic {
    font-style: italic;
  }

  .text-additional {
    font-size: 0.7rem;
    margin-top: 1.2rem;
  }

  .author {
    text-transform: uppercase;
    font-weight: 500;

    .company {
      text-transform: none;
    }

    p {
      font-size: 0.8rem;
    }
  }
}
