.gray {
  --header-color: #222;
  --text-color: #4a4a4a;
  --label-color: #505050;

  .lpt-container {
    color: var(--text-color);
    background-color: hsla(0, 0%, 95%, 0.92);

    label {
      color: var(--label-color);
    }

    input:not([type='submit']),
    select,
    textarea {
      background-color: #fff;
      color: var(--text-color);
      border: 1px solid #eee;
    }

    .button-form {
      border: 2px solid var(--text-color);
      color: var(--text-color);
      background-color: transparent;

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }

    .button-form-2 {
      color: #fff;
      background-color: #5cb85c;

      &:hover {
        background-color: #525252;
      }
    }

    .lpt-button-3 {
      color: var(--text-color);
      border-color: var(--text-color);
      background-color: transparent;

      &:hover {
        background-color: var(--text-color);
        color: #fff;
      }
    }
  }
}
