.block {
  background-size: cover;
  background-attachment: fixed;
  position: relative;

  hr {
    width: 3rem;
    height: 2px;
    border: 0;
    background-color: transparent;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #444;
    }
  }
}

.full-height {
  min-height: 100vh;
}

.half-height {
  min-height: 50vh;
}

.lpt-auto-width {
  width: auto !important;
}

.quarter-height {
  min-height: 25vh;
}

.lpt-radius-3 {
  border-radius: 3px;
}

.lpt-radius-6 {
  border-radius: 6px;
}

.lpt-shadow-10 {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
}

.no-background-color {
  background-color: transparent !important;
}

.background-white {
  background-color: #fff !important;
}

.lpt-container {

  .lpt-content-box {
    box-sizing: content-box;
  }

  h2 {
    font-size: 1.35rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  h3 {
    font-size: 1.1rem;
    font-family: Arial;
  }

  p {
    font-size: 1rem;
  }

  .lpt-title-1,
  .lpt-title-2,
  .lpt-title-3 {
    text-align: center;
    letter-spacing: 1px;
    margin-left: auto;
    margin-right: auto;

    &.clear {
      max-width: 100%;
      text-align: left;
    }
  }

  .lpt-title-1 {
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 80%;
    line-height: 1.25;
  }

  .lpt-title-2 {
    font-size: 1.3rem;
    font-weight: 100;
    max-width: 80%;
    line-height: 1.25;
  }

  .lpt-title-3 {
    font-size: 1.375rem;
    font-weight: bold;
  }

  .lpt-button {
    padding: 0.6rem 1rem;
    box-sizing: border-box;
    font-size: 0.7rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    background-color: var(--accent-color);
    transition: 0.3s;
    letter-spacing: 1px;
    border: 0;
    cursor: pointer;

    &.lpt-button-3d {
      border-radius: 3px;
      border-bottom: 3px solid rgba(0, 0, 0, 0.15);
    }

    &.lpt-button-danger {
      background-color: var(--danger-color);
      color: #fff;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  .lpt-button-3 {
    border: 2px solid #333;
    color: #333;
    transition: 0.3s;
    padding: 1rem 2rem;
    font-size: 1.125rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 2px;
    white-space: nowrap;
    background-color: transparent;

    &:hover {
      background-color: #333;
      color: #fff;
    }

    &.small {
      text-transform: none;
      font-size: 0.9rem;
      cursor: pointer;
      padding: 0.6rem 1.2rem;
    }
  }

  form {
    box-sizing: border-box;
    margin-top: 0.9rem;

    &.max-width {
      width: 100%;

      input,
      select,
      textarea {
        width: 100%;
      }
    }

    &.label-none-transform {
      label {
        text-transform: none;
      }
    }

    &.inputs-2 {
      select,
      textarea,
      input:not([type=submit]) {
        height: 2.125rem;
        border: 1px solid #ccc;
      }
    }

    &.lpt-layout-row {
      input,
      select,
      textarea {
        margin-top: 0;
        margin-bottom: 0;
        height: 2.5rem;
        font-size: 1rem;
        max-width: 20rem;
      }

      /* WORKAROUND for preview */
      & > div {
        display: flex;
        width: 100%;
        flex-direction: column;
      }

      .lpt-button {
        font-size: 0.9rem;
        white-space: nowrap;
        height: 2.5rem;
      }
    }
  }

  form.margin-form {
    & > input,
    & > select,
    & > textarea {
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }
    }

    /* WORKAROUND for preview */
    & > div {
      input,
      textarea,
      select {
        margin-right: 1rem;

        &:last-child {
          input,
          textarea,
          select {
            margin-right: 0;
          }
        }
      }
    }
  }

  label {
    display: block;
    margin-bottom: 0.6rem;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;

    &:empty {
      display: none;
    }
  }

  input,
  textarea,
  select {
    border-radius: 3px;
    border: 0;
    padding: 2px 7px;
    margin: 0 0 1.2rem;
    min-width: 10rem;
    box-sizing: border-box;
    display: block;

    &:focus {
      outline: none;
    }
  }

  input,
  select {
    height: 1.8rem;
  }

  textarea {
    height: 3.2rem;
  }

  select {
    padding: 0 0.125rem;
  }

  input[type='submit'] {
    border: 0;
  }

  .button-form,
  .button-form-2 {
    display: block;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
  }

  .button-form {
    border-radius: 40px;
    text-transform: none;
    padding: 0.625rem 1.25rem;
    font-size: 0.8rem;
  }

  .button-form-2 {
    border-radius: 5px;
    text-transform: uppercase;
    border: 0;
    font-weight: 700;
  }

  .button-form-3 {
    border: 2px solid #444;
    padding: 10px 27px;
    cursor: pointer;
    font-size: 0.9rem;
    color: #444;
    transition: 0.3s;
    background-color: #fff;

    &:hover {
      background-color: #444;
      color: #fff;
    }
  }

  .text-italic {
    font-style: italic;
  }

  .text-additional {
    font-size: 0.7rem;
    margin-top: 1.2rem;
    letter-spacing: 0;
  }

  .author {
    text-transform: uppercase;
    font-weight: 500;

    .company {
      text-transform: none;
    }

    p {
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 960px) {
  .lpt-container form {
    &.lpt-layout-row {
      input,
      select,
      textarea {
        margin-bottom: 1rem;
        margin-right: 0;
        width: 100%;
      }

      & > input:last-child,
      & > select:last-child,
      & > textarea:last-child {
        margin-bottom: 0;
      }

      /* WORKAROUNT for preview */
      & > div:last-child {
        input,
        select,
        textarea {
          margin-bottom: 0;
        }
      }
    }
  }
}
