section.block {
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.full-height {
  min-height: 100vh;
}

.half-height {
  min-height: 50vh;
}

.quarter-height {
  min-height: 25vh;
}

.lpt-radius-3 {
  border-radius: 3px;
}

.no-background-color {
  background-color: transparent !important;
}

.lpt-container {

  .lpt-content-box {
    box-sizing: content-box;
  }

  .lpt-title-1,
  .lpt-title-2,
  .lpt-title-3 {
    text-align: center;
    letter-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .lpt-title-1 {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 80%;
  }

  .lpt-title-2 {
    font-size: 1.3rem;
    font-weight: 100;
    max-width: 80%;
  }

  .lpt-title-3 {
    font-size: 1.375rem;
    font-weight: bold;
  }

  h2 {
    font-size: 1.35rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  h3 {
    font-size: 1.1rem;
    font-family: Arial;
  }

  p {
    font-size: 1rem;
    letter-spacing: 1px;
  }

  .lpt-button {
    padding: 0.6rem 1rem;
    box-sizing: border-box;
    font-size: 0.7rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    background-color: #1abc9c;
    transition: 0.3s;
    letter-spacing: 1px;
    border: 0;
    cursor: pointer;

    &.lpt-button-3d {
      border-radius: 3px;
      border-bottom: 3px solid rgba(0, 0, 0, 0.15);
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  form {
    box-sizing: border-box;
    margin-top: 1.5rem;

    &.lpt-layout-row {
      input,
      select,
      textarea {
        margin-top: 0;
        margin-bottom: 0;
        height: 2.5rem;
        font-size: 1rem;
        max-width: 20rem;
      }

      .lpt-button {
        font-size: 0.9rem;
        white-space: nowrap;
      }
    }
  }

  label {
    display: block;
    margin-bottom: 0.6rem;
    font-size: 0.8rem;
    font-weight: 700;

    &:empty {
      display: none;
    }
  }

  input,
  textarea,
  select {
    border-radius: 3px;
    border: 0;
    padding: 2px 7px;
    margin: 0 0 1.2rem;
    min-width: 10rem;
    box-sizing: border-box;
    display: block;

    &:focus {
      outline: none;
    }
  }

  input,
  select {
    height: 1.8rem;
  }

  textarea {
    height: 3.2rem;
  }

  select {
    padding: 0 0.125rem;
  }

  .button-form,
  .button-form-2 {
    display: block;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
  }

  .button-form {
    border-radius: 40px;
    text-transform: none;
    padding: 0.625rem 1.25rem;
    font-size: 0.8rem;
  }

  .button-form-2 {
    border-radius: 5px;
    text-transform: uppercase;
    border: 0;
    font-weight: 700;
  }

  .text-italic {
    font-style: italic;
  }

  .text-additional {
    font-size: 0.7rem;
    margin-top: 1.2rem;
  }

  .author {
    text-transform: uppercase;
    font-weight: 500;

    .company {
      text-transform: none;
    }

    p {
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 960px) {
  .lpt-container form {
    &.lpt-layout-row {
      input,
      select,
      textarea {
        margin-bottom: 1rem;
      }
    }
  }
}
