.gray {
  --header-color: #222;
  --text-color: #4a4a4a;
  --label-color: #505050;

  .lpt-container {
    color: var(--text-color);
    background-color: rgba(0, 0, 0, 0.1);

    form {

      label {
        color: var(--label-color);
      }

      input,
      textarea {
        background-color: #fff;
        color: var(--text-color);
        border: 1px solid var(--text-color);
      }

      .button-form {
        border: 2px solid var(--text-color);
        color: var(--text-color);
        background-color: transparent;

        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }
}
