@define-mixin layout-padding-margin-for-name $name {
  .nz-layout-padding$(name)-1 {
    padding: 0.5em;
  }

  .nz-layout-padding$(name)-2 {
    padding: 1em;
  }

  .nz-layout-padding$(name)-3 {
    padding: 2em;
  }

  .nz-layout-margin$(name)-1 {
    margin: 0.5em;
  }

  .nz-layout-margin$(name)-2 {
    margin: 1em;
  }

  .nz-layout-margin$(name)-3 {
    margin: 2em;
  }

  .nz-layout-wrap$(name) {
    flex-wrap: wrap;
  }

  .nz-layout-nowrap$(name) {
    flex-wrap: nowrap;
  }

  .nz-layout-fill$(name) {
    margin: 0;
    width: 100%;
    min-height: 100%;
    height: 100%;
  }
}
