.theme-canvas .faq {
  .faq-container {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  h2 {
    font-weight: 600;
    text-transform: uppercase !important;
    line-height: 1.5;
    margin: 0 0 30px;
    font-family: 'Raleway', sans-serif;
    color: #444;
    font-size: 18px;
  }

  &.dark h2 {
    color: #fff;
  }

  .faq-container h2 {
    border-color: #ccc;
    line-height: 44px;
    padding: 0 6px 0 15px;
    margin: 0;
    font-size: 14px;
  }

  &.dark .faq-container {
    background: transparent;
  }

  &.dark .faq-container h2 {
    color: #fff;
  }

  .faq-container p {
    padding: 0 6px 6px 15px;
    font-size: 14px;
  }

  .faq-container > div:not(:last-child) {
    border-bottom: 1px dotted #ddd;
  }

  .button {
    margin-top: 2rem;
    border-radius: 6px;
    font-size: 18px;
    padding: 0.6vw 5vw;
    text-align: center;
  }
}
