.theme-canvas .offer.old {
  &.dark h3,
  &.dark h2 {
    color: #fff;
  }

  &.block > div {
    padding: 0;
  }

  h3,
  h2 {
    margin-bottom: 1.5rem;
  }

  .action {
    border: 2px solid #444;
    background-color: transparent;
    color: #333;
    margin-top: 30px;
    border-radius: 3px;
    font-size: 18px;
    padding: 0 32px;
  }

  .action:hover {
    background-color: #444;
    color: #fff;
    border-color: transparent !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }

  &.dark .action {
    border-color: #fff;
    color: #fff;
  }

  &.dark .action:hover {
    background-color: #fff;
    color: #444;
  }

  .strong {
    border-bottom: 1px solid #333;
    margin: 0 1rem;
    font-weight: 600;
  }

  &.dark .strong {
    color: #fff;
  }

  a.container {
    transition: 0.3s;
  }

  a.container:hover {
    background-color: #444;
  }

  a.container:hover .strong,
  a.container:hover p {
    color: #fff;
  }

  a.container:hover .strong {
    border-bottom: 1px solid #fff;
  }
}
