body.theme-canvas section.block.portfolio.old {
  .additional {
    height: 5rem;
    overflow: hidden;
    transition: 0.3s;
    box-sizing: border-box;
    padding: 1rem;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -5rem;
    background-color: #fff;

    p {
      margin: 0;
    }
  }

  .repeater-item-wrapper {
    padding: 0;
    position: relative;
    overflow: hidden;
    background-color: white;

    /* WORKAROUND fix lug after hover */
    margin-top: -1px;
    margin-right: -1px;
  }

  .repeater-item-wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.3s;
    opacity: 0;
  }

  .repeater-item-wrapper:hover {

    img {
      trasform: translateY(-2rem);
      opacity: 0.3;
    }

    .additional {
      bottom: 0;
    }

    &:before {
      opacity: 1;
    }
  }

  .repeater {
    padding: 1rem 0 0;
  }

  .repeater h2 {
    font-size: 1rem;
  }

  img {
    width: 100%;
    vertical-align: middle;
    height: auto;
    transition: 0.3s;
  }

  & > div {
    padding-right: 0 !important;
    padding-left: 0 !important;
    padding-bottom: 0 !important;
  }

  .pillow {
    padding-bottom: 0 !important;
  }
}
